<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="#springUrl("/assets/css/bootstrap.css")" rel="stylesheet" type="text/css">
    <link href="#springUrl("/assets/css/main.css")" rel="stylesheet" type="text/css">
    <link href="#springUrl("/assets/img/favicon.ico")" rel="icon" type="image/x-icon">
    <title>Cinema</title>
</head>
<body>
<div class="container">
<div>
    <a href="#springUrl("/")">
        <img class="logo" src="#springUrl("/assets/img/logo.jpg")">
    </a>
</div>