<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#springUrl("/")" class="navbar-brand">Cinema</a>
        </div>
        <ul class="nav navbar-nav">
            #if(${sec.userName} != "")
                <li><a href="#springUrl("/book/add")">Booking</a></li>
                #if($sec.isAdmin())
                    <li><a href="#springUrl("/admin")">Admin Panel</a></li>
                #end
                #if($sec.isManager())
                    <li><a href="#springUrl("/event/assigned")">Events</a></li>
                    <li><a href="#springUrl("/manage")">Manager Panel</a></li>
                #end
                <li><a href="#springUrl("/user/profile")">Profile: ${sec.userName}</a></li>
                <li>
                    <a id="logout" href="#">Logout</a>
                    <form id="logout-form" action="#springUrl("/logout")" method="post"></form>
                </li>
            #else
                <li><a href="#springUrl("/login")">Sign In</a></li>
                <li><a href="#springUrl("/user/signup")">Sign Up</a></li>
            #end
            <li><a href="#springUrl("/import")">Import</a></li>
        </ul>
    </div>
</nav>