<h1>Add auditorium</h1>
<form method="post">
    #springBind("auditorium")
    <table>
        <tr>
            <td>Auditorium name</td>
            <td>#springFormInput("auditorium.name" "")</td>
        </tr>
        <tr>
            <td>Number of seats</td>
            <td>#springFormInput("auditorium.seats" "")</td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">Add</button>
            </td>
        </tr>
    </table>
</form>
