<h1>Import event data</h1>
<form method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Event file</td>
            <td><input type="file" name="file"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">Import</button>
            </td>
        </tr>
    </table>
</form>
