<h1>Exception</h1>
<p>${exception}</p>
<a class="btn btn-primary" role="button" data-toggle="collapse" href="#stack" aria-expanded="false"
   aria-controls="stack">
    Show/Hide
</a>
<div class="collapse" id="stack">
    <div class="well">${stack}</div>
</div>