<div class="row">
    <div class="col-md-6">
        <h1>Import data</h1>
        <form method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group">
                <label for="make">Events file</label>
                <input type="file" name="eventFile"/>
            </div>
            <div class="form-group">
                <label for="make">Users file</label>
                <input type="file" name="userFile"/>
            </div>
            <div class="form-group">
                <label for="make">Auditoriums file</label>
                <input type="file" name="auditoriumFile"/>
            </div>
            <div class="form-group">
                <label for="make">Assigned events file</label>
                <input type="file" name="assignedFile"/>
            </div>
            <div class="form-group">
                <label for="make">Tickets file</label>
                <input type="file" name="ticketFile"/>
            </div>
            <button type="submit" class="btn btn-primary">Import</button>
        </form>
    </div>
</div>