<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>
        <form method="post">
            #springBind("user")
            #springBind("userAccount")
            <div class="form-group">
                <label for="make">Full Name</label>
                <input name="name" id="name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="make">Email</label>
                <input name="email" id="email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="make">Password</label>
                <input name="password" type="password" id="password" class="form-control" />
            </div>
            <div class="form-group">
                <label for="make">Account money</label>
                <input name="money" id="money" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>