<h1>Update user</h1>
<form method="post">
    #springBind("user")
    <table>
        <tr>
            <td>User name</td>
            <td>#springFormInput("user.name" "")</td>
        </tr>
        <tr>
            <td>User email</td>
            <td>#springFormInput("user.email" "")</td>
        </tr>
        <tr>
            <td>User password</td>
            <td>#springFormInput("user.password" "")</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" name="id" value="${user.id}">
                <button type="submit" class="btn btn-primary">Update</button>
            </td>
        </tr>
    </table>
</form>