<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Profile</h1>
        <form method="post">
            #springBind("user")
            <div class="form-group">
                <label for="make">Full Name</label>
                <input name="name" id="name" value="${user.name}" class="form-control" />
            </div>
            <div class="form-group">
                <label for="make">Email</label>
                <input name="email" id="email" value="${user.email}" class="form-control" />
            </div>
            <div class="form-group">
                <label for="make">Password</label>
                <input name="password" id="password" value="${user.password}" class="form-control" />
            </div>
            <div class="form-group">
                <label for="make">Role</label>
                <input name="role" id="role" value="${user.role}" readonly class="form-control" />
            </div>
            <input type="hidden" name="id" value="${user.id}">
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
#if($sec.isUser())
<h1>Tickets list</h1>
<table class="table table-hover">
    <tr>
        <th>id</th>
        <th>user</th>
        <th>event</th>
        <th>seat</th>
        <th>price</th>
        <th>delete</th>
    </tr>
    #foreach ($ticket in ${tickets})
        <tr>
            <td>${ticket.id}</td>
            <td>${ticket.user.email}</td>
            <td>${ticket.assignedEvent.event.name}</td>
            <td>${ticket.seat}</td>
            <td>${ticket.price}</td>
            <td><a href="#springUrl("/book/delete/${ticket.id}")" class="btn btn-danger">delete</a></td>
        </tr>
    #end
</table>
#end