    <h1>Import user data</h1>
    #parse("/WEB-INF/velocity/fragments/_go_back.vm")
    <form method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>User file</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-primary">Import</button></td>
            </tr>
        </table>
    </form>
